[submodule "git-aware-prompt"]
	path = git-aware-prompt
	url = https://github.com/jimeh/git-aware-prompt.git
[submodule "osx-for-hackers.sh"]
	path = osx-for-hackers.sh
	url = https://gist.github.com/brandonb927/3195465
